.nogaps, form input, #edit textarea {
	margin: 0;
	padding: 0;
}

form input {
	max-width: 25%;
}

form#edit {
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content:   flex-start;

	top:    0;
	left:   0;
	right:  0;
}

#edit textarea {
	margin:  0;
	padding: 0;
	height:  1rem;
	width: 	 1rem;
}

#edit input {
	height: 1.5rem;
}
